
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

/* General header bar */
.header {
    background-color: #ee974a;
    font-weight: 500;
    width: 100%;
    position: fixed;
    height: 140px;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
}
h1 {
    padding-top: 150px;
    padding: 70px;
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 20px; /* Adjust padding to ensure content is visible */
    gap: 50px;
}

.about-text {
    margin: 22px 0 0 0; 
    flex: 1;
    max-width: 600px;
    text-align: justify;
    line-height: 1.8;
    font-size: 1.2em;
    color: #555;
}

.about-text h2 {
    font-size: 2em;
    color: #ee974a;
    margin-bottom: 20px;
}

.about-text span {
    color: #f07a13;
    font-weight: bold;
}

.about-image {
    flex: 1;
    max-width: 400px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}